{% extends 'base.html' %}

{% block title %}
    Movies
{% endblock %}

{% block content %}
    <h1 class="mb-4">Movies</h1>
    <div class="list-group">
        {% for movie in movies %}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ forloop.counter }}. {{ movie.title }}</h5>
                    {% if movie.is_rented %}
                        <small>Rented by: {{ movie.rental_set.first.rented_by.username }} (to: {{ latest_rented_to }})</small>
                        <button onclick="return confirmReturn('{{ movie.id }}')" class="btn btn-success btn-sm">Return</button>
                        <script>
                            function confirmReturn(movieId) {
                                if (confirm('Are you sure?')) {
                                    window.location = "{% url 'return_movie' movie.id %}";
                                }
                            }
                        </script>
                    {% else %}
                        <a href="{% url 'rent_movie' movie.id %}" class="btn btn-primary btn-sm">Rent</a>
                    {% endif %}
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">
                        <button onclick="window.location='{% url 'update_movie' movie.id %}'" class="btn btn-info btn-sm mr-2">Update</button>
                        <button onclick="window.location='{% url 'delete_movie' movie.id %}'" class="btn btn-danger btn-sm">Delete</button>
                        <button onclick="window.location='{% url 'movie_detail' movie.id %}'" class="btn btn-danger btn-sm">Details</button>
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
